@import "./variables";
@import "./func";

.hero-section {
  margin-top: 110px;
  padding: $defaultPadding;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  .top-left-frame {
    position: absolute;
    left: 100px;
    top: 0;
    .first-frame {
      width: 300px;
      height: 2px;
      background-color: $secondary;
    }
    .second-frame {
      width: 2px;
      height: 300px;
      background-color: $secondary;
    }
  }
  .recording {
    position: absolute;
    left: 150px;
    top: 50px;
    @include flexItems(row, center);

    .ball {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $primary;
      margin-right: 10px;
    }
    .rec-text {
      font-size: 24px;
      color: $primary;
    }
  }
  .timer {
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
    font-size: 24px;
  }
  .bottom-right-frame {
    position: absolute;
    right: 100px;
    bottom: 0;
    .first-frame {
      width: 300px;
      height: 2px;
      background-color: $secondary;
    }
    .second-frame {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 300px;
      background-color: $secondary;
    }
  }
  .photographer-name {
    font-size: 24px;
    font-weight: bold;
  }
  .p-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px 0;
  }
  .hero-info {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .hero-section {
    // padding: 5rem 20px !important;
    .top-left-frame {
      left: 20px !important;
    }
    .bottom-right-frame {
      right: 20px !important;
    }
    .hero-info {
      width: 50%;
      margin: 0 auto;
    }
    .recording {
      left: 40px !important;
      top: 16px !important;
    }
    .timer {
      position: absolute;
      right: 0 !important;
      bottom: 20px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 5rem 20px;
    .top-left-frame {
      left: 40px;
      .first-frame {
        width: 150px;
        height: 2px;
      }
      .second-frame {
        width: 2px;
        height: 150px;
      }
    }
    .bottom-right-frame {
      right: 40px;
      .first-frame {
        width: 150px;
        height: 2px;
      }
      .second-frame {
        width: 2px;
        height: 150px;
      }
    }
    .timer {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 20px;
    }
    .recording {
      left: 70px;
      top: 20px;
      .ball {
        width: 20px;
        height: 20px;
      }
      .rec-text {
        font-size: 20px;
      }
    }
    .p-img {
      width: 200px;
      height: 200px;
      margin: 30px 0;
    }
    .hero-info,
    .photographer-name {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    padding: 5rem 40px !important;
    .top-left-frame {
      left: 40px !important;
      .first-frame {
        width: 250px;
      }
      .second-frame {
        height: 250px;
      }
    }
    .bottom-right-frame {
      right: 40px !important;
      .first-frame {
        width: 250px;
      }
      .second-frame {
        height: 250px;
      }
    }
    .recording {
      left: 80px !important;
      top: 30px !important;
    }
    .timer {
      position: absolute;
      right: 30px;
      bottom: 20px;
    }
  }
}
