@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
header {
  max-height: 100px;
  height: 100%;
  padding: 0 100px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.sticky {
  max-height: 70px;
  border-bottom: 1px solid #ccc;
}

header #logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #000;
  position: relative;
  color: #000;
}

header #logo p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

header .bar {
  cursor: pointer;
  display: none;
}

header .bar > div {
  width: 40px;
  height: 2px;
  background-color: #000;
}

header .bar .second-line {
  margin-top: 5px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 0 !important;
}

header nav ul li:nth-of-type(2) {
  margin: 0 60px;
}

header nav ul a {
  display: block;
  text-decoration: none;
  margin-top: 4px;
  color: #000;
  font-weight: bold;
  height: 100%;
}

header nav ul a:hover {
  color: #000;
}

header nav ul a:hover::after {
  width: 100%;
}

header nav ul a::after {
  content: "";
  width: 0%;
  height: 4px;
  display: block;
  background-color: #dd2121;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

@media screen and (max-width: 576px) {
  header {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 768px) {
  header #logo {
    height: 45px;
    width: 45px;
  }
  header #logo p {
    font-size: 14px;
  }
  header .bar {
    display: block;
  }
  header .bar .first-line,
  header .bar .second-line {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  header .first-line.f-rotated {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .second-line.s-rotated {
    -webkit-transform-origin: 43%;
            transform-origin: 43%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
  }
  header nav {
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100vh - 100px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px !important;
  }
  header nav ul li:nth-of-type(2) {
    margin: 16px 0;
  }
  header nav ul li a {
    font-size: 32px;
  }
  header nav.opened {
    visibility: visible;
    opacity: 1;
  }
  header.sticky nav {
    top: 72px;
    height: calc(100vh - 70px);
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    padding: 0 40px;
  }
}

.hero-section {
  margin-top: 110px;
  padding: 0 100px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.hero-section .top-left-frame {
  position: absolute;
  left: 100px;
  top: 0;
}

.hero-section .top-left-frame .first-frame {
  width: 300px;
  height: 2px;
  background-color: #000;
}

.hero-section .top-left-frame .second-frame {
  width: 2px;
  height: 300px;
  background-color: #000;
}

.hero-section .recording {
  position: absolute;
  left: 150px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .recording .ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #dd2121;
  margin-right: 10px;
}

.hero-section .recording .rec-text {
  font-size: 24px;
  color: #dd2121;
}

.hero-section .timer {
  font-weight: bold;
  text-align: right;
  margin-right: 50px;
  font-size: 24px;
}

.hero-section .bottom-right-frame {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.hero-section .bottom-right-frame .first-frame {
  width: 300px;
  height: 2px;
  background-color: #000;
}

.hero-section .bottom-right-frame .second-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 300px;
  background-color: #000;
}

.hero-section .photographer-name {
  font-size: 24px;
  font-weight: bold;
}

.hero-section .p-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 40px 0;
}

.hero-section .hero-info {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .hero-section .top-left-frame {
    left: 20px !important;
  }
  .hero-section .bottom-right-frame {
    right: 20px !important;
  }
  .hero-section .hero-info {
    width: 50%;
    margin: 0 auto;
  }
  .hero-section .recording {
    left: 40px !important;
    top: 16px !important;
  }
  .hero-section .timer {
    position: absolute;
    right: 0 !important;
    bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 5rem 20px;
  }
  .hero-section .top-left-frame {
    left: 40px;
  }
  .hero-section .top-left-frame .first-frame {
    width: 150px;
    height: 2px;
  }
  .hero-section .top-left-frame .second-frame {
    width: 2px;
    height: 150px;
  }
  .hero-section .bottom-right-frame {
    right: 40px;
  }
  .hero-section .bottom-right-frame .first-frame {
    width: 150px;
    height: 2px;
  }
  .hero-section .bottom-right-frame .second-frame {
    width: 2px;
    height: 150px;
  }
  .hero-section .timer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
  }
  .hero-section .recording {
    left: 70px;
    top: 20px;
  }
  .hero-section .recording .ball {
    width: 20px;
    height: 20px;
  }
  .hero-section .recording .rec-text {
    font-size: 20px;
  }
  .hero-section .p-img {
    width: 200px;
    height: 200px;
    margin: 30px 0;
  }
  .hero-section .hero-info,
  .hero-section .photographer-name {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    padding: 5rem 40px !important;
  }
  .hero-section .top-left-frame {
    left: 40px !important;
  }
  .hero-section .top-left-frame .first-frame {
    width: 250px;
  }
  .hero-section .top-left-frame .second-frame {
    height: 250px;
  }
  .hero-section .bottom-right-frame {
    right: 40px !important;
  }
  .hero-section .bottom-right-frame .first-frame {
    width: 250px;
  }
  .hero-section .bottom-right-frame .second-frame {
    height: 250px;
  }
  .hero-section .recording {
    left: 80px !important;
    top: 30px !important;
  }
  .hero-section .timer {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}

.work-section {
  padding: 0 100px;
  padding-bottom: 100px;
  position: relative;
}

.work-section .work-section-title {
  margin: 100px 0;
}

.work-section .work-title {
  visibility: hidden;
  opacity: 0;
  width: auto;
  font-size: 48px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000;
}

.work-section .img-wrapper {
  width: auto;
  padding: 0 !important;
  position: relative;
  cursor: pointer;
}

.work-section .img-wrapper a {
  position: absolute;
  left: 50%;
  top: 50%;
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-section .img-wrapper a .pop-up {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  height: 100px;
  background-color: #dd2121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 32px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.work-section .img-wrapper a .pop-up .album-text {
  margin-left: 20px;
}

.work-section .img-wrapper:hover .pop-up {
  visibility: visible;
  opacity: 1;
}

.work-section .row:nth-of-type(2n) {
  padding-right: 0 !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work-section .row:nth-of-type(2n + 1) {
  padding-left: 0 !important;
}

.work-section .row:hover .work-title {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.work-section .work-img {
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  font-family: "Space Mono", monospace;
}

body {
  height: 3000px;
}
/*# sourceMappingURL=style.css.map */