@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
header {
  max-height: 100px;
  height: 100%;
  padding: 0 100px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.sticky {
  max-height: 70px;
  border-bottom: 1px solid #ccc;
}

header #logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #000;
  position: relative;
  color: #000;
}

header #logo p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

header .bar {
  cursor: pointer;
  display: none;
}

header .bar > div {
  width: 40px;
  height: 2px;
  background-color: #000;
}

header .bar .second-line {
  margin-top: 5px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 0 !important;
}

header nav ul li:nth-of-type(2) {
  margin: 0 60px;
}

header nav ul a {
  display: block;
  text-decoration: none;
  margin-top: 4px;
  color: #000;
  font-weight: bold;
  height: 100%;
}

header nav ul a:hover {
  color: #000;
}

header nav ul a:hover::after {
  width: 100%;
}

header nav ul a::after {
  content: "";
  width: 0%;
  height: 4px;
  display: block;
  background-color: #dd2121;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

@media screen and (max-width: 576px) {
  header {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 768px) {
  header #logo {
    height: 45px;
    width: 45px;
  }
  header #logo p {
    font-size: 14px;
  }
  header .bar {
    display: block;
  }
  header .bar .first-line,
  header .bar .second-line {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  header .first-line.f-rotated {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .second-line.s-rotated {
    -webkit-transform-origin: 43%;
            transform-origin: 43%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
  }
  header nav {
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100vh - 100px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px !important;
  }
  header nav ul li:nth-of-type(2) {
    margin: 16px 0;
  }
  header nav ul li a {
    font-size: 32px;
  }
  header nav.opened {
    visibility: visible;
    opacity: 1;
  }
  header.sticky {
    border: none;
  }
  header.sticky .opened {
    top: 70px;
  }
  header.sticky nav {
    top: 72px;
    height: calc(100vh - 70px);
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    padding: 0 40px;
  }
}

.hero-section {
  margin-top: 110px;
  padding: 0 100px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.hero-section .top-left-frame {
  position: absolute;
  left: 100px;
  top: 0;
}

.hero-section .top-left-frame .first-frame {
  width: 300px;
  height: 2px;
  background-color: #000;
}

.hero-section .top-left-frame .second-frame {
  width: 2px;
  height: 300px;
  background-color: #000;
}

.hero-section .recording {
  position: absolute;
  left: 150px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .recording .ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #dd2121;
  margin-right: 10px;
}

.hero-section .recording .rec-text {
  font-size: 24px;
  color: #dd2121;
}

.hero-section .timer {
  font-weight: bold;
  text-align: right;
  margin-right: 50px;
  font-size: 24px;
}

.hero-section .bottom-right-frame {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.hero-section .bottom-right-frame .first-frame {
  width: 300px;
  height: 2px;
  background-color: #000;
}

.hero-section .bottom-right-frame .second-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 300px;
  background-color: #000;
}

.hero-section .photographer-name {
  font-size: 24px;
  font-weight: bold;
}

.hero-section .p-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 40px 0;
}

.hero-section .hero-info {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .hero-section .top-left-frame {
    left: 20px !important;
  }
  .hero-section .bottom-right-frame {
    right: 20px !important;
  }
  .hero-section .hero-info {
    width: 50%;
    margin: 0 auto;
  }
  .hero-section .recording {
    left: 40px !important;
    top: 16px !important;
  }
  .hero-section .timer {
    position: absolute;
    right: 0 !important;
    bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 5rem 20px;
  }
  .hero-section .top-left-frame {
    left: 40px;
  }
  .hero-section .top-left-frame .first-frame {
    width: 150px;
    height: 2px;
  }
  .hero-section .top-left-frame .second-frame {
    width: 2px;
    height: 150px;
  }
  .hero-section .bottom-right-frame {
    right: 40px;
  }
  .hero-section .bottom-right-frame .first-frame {
    width: 150px;
    height: 2px;
  }
  .hero-section .bottom-right-frame .second-frame {
    width: 2px;
    height: 150px;
  }
  .hero-section .timer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
  }
  .hero-section .recording {
    left: 70px;
    top: 20px;
  }
  .hero-section .recording .ball {
    width: 20px;
    height: 20px;
  }
  .hero-section .recording .rec-text {
    font-size: 20px;
  }
  .hero-section .p-img {
    width: 200px;
    height: 200px;
    margin: 30px 0;
  }
  .hero-section .hero-info,
  .hero-section .photographer-name {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    padding: 5rem 40px !important;
  }
  .hero-section .top-left-frame {
    left: 40px !important;
  }
  .hero-section .top-left-frame .first-frame {
    width: 250px;
  }
  .hero-section .top-left-frame .second-frame {
    height: 250px;
  }
  .hero-section .bottom-right-frame {
    right: 40px !important;
  }
  .hero-section .bottom-right-frame .first-frame {
    width: 250px;
  }
  .hero-section .bottom-right-frame .second-frame {
    height: 250px;
  }
  .hero-section .recording {
    left: 80px !important;
    top: 30px !important;
  }
  .hero-section .timer {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}

.work-section {
  padding: 0 100px;
  padding-bottom: 100px;
  position: relative;
}

.work-section .work-section-title {
  margin: 100px 0;
}

.work-section .img-wrapper {
  width: auto;
  padding: 0 !important;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.work-section .img-wrapper .work-img {
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.work-section .img-wrapper a {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: #dd2121;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.work-section .img-wrapper a .album-text {
  margin-left: 20px;
}

.work-section .img-wrapper:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.work-section .img-wrapper:hover .pop-up {
  visibility: visible;
  z-index: 999;
}

.work-section .img-wrapper:hover .work-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.work-section .work-title {
  width: auto;
  font-size: 32px;
  color: #000;
}

.work-section .row:not(:nth-of-type(1)) {
  margin-top: 50px;
}

.work-section .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-section .row:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 576px) {
  .work-section {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .work-section .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  .work-section {
    padding: 0 40px;
    padding-bottom: 3rem;
  }
  .work-section .work-section-title {
    margin: 100px 0 50px 0 !important;
  }
  .work-section .row:not(:nth-of-type(1)) {
    margin-top: 30px;
  }
  .work-section .work-img {
    height: 400px;
  }
  .work-section .pop-up {
    font-size: 24px !important;
    width: 220px !important;
    height: 75px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .work-section {
    padding-right: 40px !important;
    padding-left: 40px !important;
    padding-bottom: 5rem;
  }
  .work-section .work-section-title {
    margin-bottom: 75px !important;
  }
  .work-section .row:not(:nth-of-type(1)) {
    margin-top: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .work-title {
    display: none;
  }
}

footer {
  background-color: #000;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

footer .author {
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .copyright,
  .author {
    width: 75%;
  }
}

.about-hero {
  padding: 0 100px;
  margin-top: 100px;
  max-height: 550px;
  height: 100%;
}

.about-hero .about-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-hero .about-container .about-video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-hero .about-container .about-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.about-hero .about-container .about-info .about-title {
  font-size: 52px;
}

.about-hero .about-container .about-info .about-subtitle {
  line-height: 151%;
}

.about-section {
  padding: 0 100px;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.about-section .whoami-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.about-section .whoami-text {
  font-size: 18px;
}

.about-section .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .row .scale-col {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .row .scale-col .count {
  font-size: 42px;
  margin-bottom: 0.5rem;
  color: grey;
}

.about-section .row .scale-col .desc {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .about-hero {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .about-info {
    width: 100%;
  }
  .about-info .about-title {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 1024px) {
  .about-hero {
    padding: 0 40px;
  }
}

@media screen and (max-width: 576px) {
  .about-section {
    padding: 5rem 20px 5rem 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    padding: 5rem 40px 5rem 40px !important;
  }
  .about-section .whoami-text {
    width: 100% !important;
  }
  .about-section .scale-col:nth-of-type(1) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .whoami-text {
    width: 100% !important;
  }
  .scale-col:nth-of-type(1) {
    margin-top: 30px;
  }
  .about-section .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact-section {
  margin: 110px 0 250px 0;
  padding: 0 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-title {
  position: absolute;
  left: 25%;
  top: 20px;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  z-index: 999;
  font-size: 52px;
}

.contact-section .wrapper {
  width: 350px;
  height: 450px;
  position: relative;
}

.contact-section .wrapper .img-container img {
  width: 350px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-section .wrapper .phone-container,
.contact-section .wrapper .email-container,
.contact-section .wrapper .address-container {
  width: 330px;
  height: 50px;
  background-color: #dd2121;
}

.contact-section .wrapper .email-container {
  position: absolute;
  top: 50%;
  left: -85%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.contact-section .wrapper .email-container .email {
  position: relative;
  height: 100%;
}

.contact-section .wrapper .email-container .email a {
  position: absolute;
  right: -10%;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.contact-section .wrapper .phone-container {
  position: absolute;
  top: 25%;
  right: -85%;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

.contact-section .wrapper .phone-container .phone {
  position: relative;
  height: 100%;
}

.contact-section .wrapper .phone-container .phone p {
  position: absolute;
  left: -10%;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.contact-section .wrapper .address-container {
  position: absolute;
  bottom: -4%;
  right: -40%;
  width: 400px;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

.contact-section .wrapper .address-container .address {
  position: relative;
  height: 100%;
}

.contact-section .wrapper .address-container .address p {
  position: absolute;
  left: 5%;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px !important;
    margin-bottom: 75px;
  }
  .info {
    margin-top: 20px;
  }
  .phone-container {
    position: static !important;
    max-width: 350px !important;
    width: 100% !important;
  }
  .phone-container .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone-container .phone p {
    position: static !important;
    text-align: center;
    font-size: 28px !important;
  }
  .email-container {
    position: static !important;
    max-width: 350px !important;
    width: 100% !important;
    text-align: center;
  }
  .email-container .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email-container .email a {
    position: static !important;
    font-size: 28px !important;
  }
  .address-container {
    position: static !important;
    max-width: 350px !important;
    max-height: 240px !important;
    height: 100% !important;
    width: 100% !important;
  }
  .address-container p {
    position: static !important;
    text-align: center;
  }
  .address-container p span {
    color: #fff !important;
  }
  .contact-title {
    position: static !important;
    -webkit-transform: none !important;
            transform: none !important;
    font-size: 32px !important;
    margin-bottom: 30px !important;
  }
  .wrapper {
    max-width: 350px !important;
    width: 100% !important;
    height: 100% !important;
    position: relative;
  }
  .wrapper .img-container img {
    max-width: 350px !important;
    max-height: 450px !important;
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-height: 1024px) {
  .contact-section {
    height: 100vh;
    margin-bottom: 0;
  }
}

.album-section {
  margin-top: 100px;
  padding: 0 100px;
  padding-bottom: 100px;
  position: relative;
}

.album-section .position-container {
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
}

.album-section .position-container .img-container {
  padding: 0 100px;
  height: calc(100vh - 150px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  overflow: hidden;
}

.album-section .position-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-section .position-container .img-container.queue {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.album-section .back-icon {
  position: absolute;
  bottom: 90px;
  left: 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.album-section .back-icon a {
  color: #000;
}

.album-section .back-icon a i {
  font-size: 24px;
}

.album-section .album-title {
  position: absolute;
  bottom: 50%;
  left: 80px;
  -webkit-transform: rotate(90deg) translateX(-50%);
          transform: rotate(90deg) translateX(-50%);
  font-size: 24px;
}

.album-section .index {
  position: absolute;
  right: 80px;
  top: calc(50% - 2.5rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.album-section .index .current-index {
  font-size: 32px;
  color: #dd2121;
}

.album-section .index .total-index {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .album-section {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .album-section {
    padding: 0 40px;
    padding-bottom: 3rem;
  }
  .album-section .position-container,
  .album-section .img-container {
    padding: 0 !important;
  }
  .album-title,
  .index,
  .back-icon {
    display: none;
  }
}

* {
  font-family: "Space Mono", monospace;
}

html,
body,
#root,
.App,
.App > div {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */