@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Space Mono", monospace;
  background-color: #212121;
  cursor: none;
}

#cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f8f32b;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

#innerCursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  color: white;
  font-weight: bold;
}

.author {
  font-size: 18px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li:nth-of-type(2) {
  margin: 0 40px;
}

.hero-video {
  width: 100%;
  padding: 0 150px;
  height: 500px;
  object-fit: cover;
}

.hero-section {
  position: relative;
}

.enthusiast {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.works-section {
  margin: 50px 0;
  padding: 0px 150px;
}

.works-title {
  color: white;
  margin-bottom: 50px;
}

.works-title span {
  font-weight: bold;
}

.works-section .col-md-5 {
  position: relative;
}

.works-section .col-md-5 img {
  object-fit: cover;
  transition: all 0.3s ease;
}

.works-section .col-md-5:nth-of-type(3),
.works-section .col-md-5:nth-of-type(4) {
  margin-top: 50px;
}

.works-section .col-md-5:hover img {
  opacity: 0.3;
  transform: scale(0.95);
}

.works-section .col-md-5:hover .pop-up {
  opacity: 1;
}

.pop-up {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  max-width: 300px;
  background-color: #f8f32b;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
