@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Space Mono", monospace;
  background-color: #212121;
  cursor: none;
}

#cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f8f32b;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2000;
}

#innerCursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

header a:hover {
  color: white;
}

.bar {
  display: none;
}

header .author a {
  font-size: 18px;
}

header nav ul {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li:nth-of-type(2) {
  margin: 0 30px;
}

.hero-video {
  width: 100%;
  padding: 0 150px;
  height: 500px;
  object-fit: cover;
}

.hero-section {
  position: relative;
  margin-top: 70px;
}

.enthusiast {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.works-section {
  margin-top: 50px;
  padding: 0px 150px;
}

.works-title {
  color: white;
  margin-bottom: 50px;
}

.works-title span {
  font-weight: bold;
}

.works-section .img-col {
  position: relative;
  max-width: 600px;
  max-height: 700px;
}

.works-section .img-col img {
  object-fit: cover;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}

.works-section .img-col:nth-of-type(3),
.works-section .img-col:nth-of-type(4) {
  margin-top: 50px;
}

.works-section .img-col:hover img {
  opacity: 0.3;
  transform: scale(0.95);
}

.works-section .img-col:hover .pop-up {
  opacity: 1;
}

.pop-up {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  max-width: 300px;
  background-color: #f8f32b;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.contact-section {
  padding: 3rem 0 2rem 0;
}

.contact-title {
  margin: 0px 0 30px 0;
}

.contact-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.contact-link:hover {
  color: #f8f32b;
  font-style: italic;
  text-decoration: underline;
}

.about-section {
  height: calc(100vh - 87px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 86px;
  position: relative;
  margin-top: 66.4px;
}

.about-section p {
  font-size: 20px;
}

.top-left-frame {
  position: absolute;
  top: 0;
  left: 150px;
}

.bottom-right-frame {
  position: absolute;
  bottom: 86px;
  right: 150px;
}

.bottom-right-frame .ver {
  width: 350px;
  height: 2px;
  background-color: #f8f32b;
}

.bottom-right-frame .hor {
  width: 2px;
  height: 350px;
  background-color: #f8f32b;
  position: absolute;
  right: 0;
  bottom: 0;
}

.top-left-frame .ver {
  width: 350px;
  height: 2px;
  background-color: #f8f32b;
}

.top-left-frame .hor {
  width: 2px;
  height: 350px;
  background-color: #f8f32b;
}

@media screen and (max-width: 576px) {
  .img-col {
    padding: 0;
  }

  .img-col {
    margin-top: 30px !important;
  }

  .img-col:nth-of-type(1) {
    margin-top: 0px !important;
  }
}

@media screen and (min-width: 576px) {
  .img-col:nth-of-type(2n + 1) {
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .img-col:nth-of-type(2n) {
    padding-right: 0;
    padding-left: 1.5rem;
  }

  .img-col:nth-of-type(2n + 1) .pop-up {
    left: calc(50% - 0.75rem);
  }

  .img-col:nth-of-type(2n) .pop-up {
    left: calc(50% + 0.75rem);
  }
}

@media screen and (max-width: 768px) {
  .bar {
    display: block;
  }
  body.closeFlow {
    overflow: hidden;
  }

  header {
    padding: 0 20px;
    background-color: #212121;
  }

  .bar {
    color: white;
  }

  header nav {
    height: 100vh;
    background-color: #212121;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  header nav.active {
    visibility: visible;
    opacity: 1;
  }

  header nav ul {
    flex-direction: column;
    margin-bottom: 140px;
  }

  header nav ul li a {
    font-size: 42px;
  }

  header nav ul li:nth-of-type(2) {
    margin: 10px 0;
  }

  .hero-video,
  .works-section {
    padding: 0 20px;
  }

  .enthusiast {
    font-size: 36px;
  }

  .line {
    max-width: calc(100% - 40px) !important;
  }

  .pop-up {
    width: 75%;
    text-align: center;
    height: 100px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  /* .img-col {
    margin-top: 0px !important;
  }

  .img-col:nth-of-type(2n + 1) {
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .img-col:nth-of-type(2n) {
    padding-right: 0;
    padding-left: 1.5rem;
  }

  .img-col:nth-of-type(3),
  .img-col:nth-of-type(4) {
    margin-top: 48px !important;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header,
  .hero-video,
  .works-section {
    padding: 0 40px;
  }

  .line {
    max-width: calc(100% - 80px) !important;
  }
}

@media screen and (min-width: 1024px) {
  .line {
    max-width: calc(100% - 300px);
  }
}
